* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #cab486;
}

.container {
  width: min(500px, 90%);
  background-color: #fff;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

input {
  width: 100%; /* Input alanını tam genişlikte yap */
  border: 1px solid #000;
  padding: 1em;
  border-radius: 0.5em;
  margin-bottom: 20px; /* Input ile butonlar arasında boşluk bırak */
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Butonları sağa hizala */
}

button {
  background-color: #cab486;
  border: none;
  color: #fff;
  padding: 1em;
  border-radius: 0.5em;
  width: 45%; /* Buton genişliğini ayarla */
  font-size: 0.8em;
  margin-top: 10px; /* Alt alta butonlar arasında boşluk bırak */
}

#btn-reset {
  background-color: #8b0000;
}
